<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCygguKReKXXryeRNAD6QmWEo8T4CtUXdg</string>
	<key>GCM_SENDER_ID</key>
	<string>851694236975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.kappsmobile.dansmonsac</string>
	<key>PROJECT_ID</key>
	<string>dansmonsac-51195</string>
	<key>STORAGE_BUCKET</key>
	<string>dansmonsac-51195.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851694236975:ios:7e20f5ed1ec6bb79661dda</string>
</dict>
</plist>